m1 {
    margin-top: 0;
    border-left: 5px solid #dae0e6;
    padding: 0 0 0 10px;
    color: #666;
    font-size: 26px;
}

/* 18 */

m3 {
    margin-top: 0;
    border-left: 5px solid #78b4f0;
    padding: 0 0 0 10px;
    color: #666;
    font-size: 26px;
}

/* 18 */
m2 {
    margin-top: 0;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

/* 13 */
h4,
h5,
h6,
p,
ol,
ul,
pre,
blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
    text-shadow: transparent 0px 0px 0px, rgba(#36414d) 0px 0px 0px !important;
    font-size: 19px;
    line-height: 1.5;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-family: STKaiti;
}

/* 13 */
velvet-sun {
    background: linear-gradient(to right, #e1eec3, #f05053);
    width: 710px;
}

div12 {
    font-size: 32px;
    color: #336699;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: PingFangSC-Medium, Semibold;
}

/* 44 */
div13 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 21px;
    color: #888888;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: PingFangSC-Medium, Semibold;
}

/* 30 */
hr {
    border-color: #B0C4DE !important;
}

div14 {
    text-align: right;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    font-family: PingFangSC-Medium, Semibold;
    font-size: 13px;
    font-weight: bold;
    color: #888888;
}

/* 26 */